*,
*::before,
*::after{
  margin:0;
  box-sizing: border-box;
}

:root{

  --primary-font-family: ;
  --secondary-font-family:  ;

  --primary-font-size: ;
  --secondary-font-size: ;

  --primary-color: ;
  --secondary-color: ;

}

.flex{
  display: flex;
}

.d-row{
  flex-direction: row;
}

.d-column{
  flex-direction: column;
}

.rh-center{
  justify-content: center;
}

.rv-center{
  align-items: center;
}

.ch-center {
  justify-content: center;
}

.cv-center {
  align-items: center;
}

.rh-flex-start{
  justify-content: flex-start;
}

.rv-flex-start{
  align-items: flex-start;
}

.ch-flex-start{
  justify-content: flex-start;
}

.cv-flex-start{
  align-items: flex-start;
}

.rh-flex-end{
  justify-content: flex-end;
}

.rv-flex-end{
  align-items: flex-end;
}

.ch-flex-end{
  justify-content: flex-end;
}

.cv-flex-end{
  align-items: flex-end;
}

.rh-space-evenly{
  justify-content: space-evenly;
}

.rv-space-evenly{
  align-items: space-evenly;
}

.ch-space-evenly{
  justify-content: space-evenly;
}

.cv-space-evenly{
  align-items: space-evenly;
}

.rh-space-around{
  justify-content: space-around;
}

.rv-space-around{
  align-items: space-around;
}

.ch-space-around{
  justify-content: space-around;
}

.cv-space-around{
  align-items: space-around;
}

.rh-space-between{
  justify-content: space-between;
}

.rv-space-between{
  align-items: space-between;
}

.ch-space-between{
  justify-content: space-between;
}

.cv-space-between{
  align-items: space-between;
}