*,
*::before,
*::after{
  margin:0;
  box-sizing: border-box;
}

html,
body{
  font-family: 'Open Sans';
  height: 100vh;
  width: 100vw;
}

:root{

  --primary-font-family: 'Open Sans';
  --secondary-font-family:  'Helvetica';

  --primary-font-size: 24px;
  --secondary-font-size: 16px;

  --primary-color: #212121;
  --secondary-color: whitesmoke;

}

.flex{
  display: flex;
}

.d-row{
  flex-direction: row;
}

.d-column{
  flex-direction: column;
}

.rh-center{
  justify-content: center;
}

.rv-center{
  align-items: center;
}

.ch-center {
  justify-content: center;
}

.cv-center {
  align-items: center;
}

.rh-flex-start{
  justify-content: flex-start;
}

.rv-flex-start{
  align-items: flex-start;
}

.ch-flex-start{
  justify-content: flex-start;
}

.cv-flex-start{
  align-items: flex-start;
}

.rh-flex-end{
  justify-content: flex-end;
}

.rv-flex-end{
  align-items: flex-end;
}

.ch-flex-end{
  justify-content: flex-end;
}

.cv-flex-end{
  align-items: flex-end;
}

.rh-space-evenly{
  justify-content: space-evenly;
}

.rv-space-evenly{
  align-items: space-evenly;
}

.ch-space-evenly{
  justify-content: space-evenly;
}

.cv-space-evenly{
  align-items: space-evenly;
}

.rh-space-around{
  justify-content: space-around;
}

.rv-space-around{
  align-items: space-around;
}

.ch-space-around{
  justify-content: space-around;
}

.cv-space-around{
  align-items: space-around;
}

.rh-space-between{
  justify-content: space-between;
}

.rv-space-between{
  align-items: space-between;
}

.ch-space-between{
  justify-content: space-between;
}

.cv-space-between{
  align-items: space-between;
}

.g-4{
  gap: 4px;
}

.g-8{
  gap: 8px;
}

.g-12{
  gap: 12px;
}
.g-20{
  gap: 20px;
}

header{
  height: 5rem;
  background-color: blueviolet;
  color: var(--secondary-color);
  font-weight: bold;

}

.main{
  height: calc(100vh - 5rem);
  width: 100vw;
}

.aside{
  overflow-y: scroll;
  width: 35vw;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  width: 1px;
  background-color: rgba(137, 43, 226, 0.222);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(137, 43, 226, 0.795);
  border-radius: 75px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blueviolet;
}

.map-container{
  width: 75vw;
}
